{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column mt-3 text-center">
    <div class="row">
        <div class="text-box">
            <h3 class="text-white"> “Allah does not burden a soul beyond that it can bear” (2:286)</h3>
            <h3 class="text-warning blink_me">لآ اِلَهَ اِلّا اللّهُ مُحَمَّدٌ رَسُوُل اللّهِ</h3>
            <h6 class="text-white">"There is no God but Allah, and Muhammad is the messenger of Allah."</h6>
            <a href="#" class="shop-now-button btn rounded-0 text-uppercase py-3 text-white mt-3"
                aria-label="Go to the home page">Enter Site <i class="fas fa-arrow-right interactive-color"></i></a>
        </div>
    </div>
</div>
{% endblock %}