html {
    height: 100%;
}

body {
    background: url('/media/grand1.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato';
    overflow-x: hidden;

    animation-name: medina-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes medina-zoom {
    0% {
        transform: scale(0.5, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }
}

/* Shop-now-button for the Home/index.html  */
.shop-now-button {
    background-color: rgb(14, 16, 16);
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan;
}

.shop-now-button:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;

}

/* index page, header text to flash */
.blink_me {
    animation: blinker 15s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.navbar-nav {
    display: flex;
    padding: 15px 150px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.sr-only {
    font-display: rgb(224, 24, 24);
}

/* Main Nav.html nav bar */
.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #0b99e6;
    -moz-text-decoration-color: #0693df;
}

.navbar-toggle {
    z-index: 3;
}